<html>
<head>
<script src="/js/jquery.js"></script>
<link rel="stylesheet" type="text/css" href="/css/edit.css">

</head>
<body>
<form method="post">
<textarea name="slides"><%= slides %>
</textarea>
<input type="submit" name="Edit" value="Edit">
</form>
</body>
</html>