<html>
<head>
<script src="/js/jquery.js"></script>
<script type="text/javascript" src="/slick/slick.min.js"></script>
<link rel="stylesheet" type="text/css" href="/css/keijiban.css">
<link rel="stylesheet" type="text/css" href="/css/user.css">
<link rel="stylesheet" type="text/css" href="/slick/slick.css"/>
<link rel="stylesheet" type="text/css" href="slick/slick-theme.css"/>
</head>
<body>
<div class="looper">
    <%= slides %>
</div>
<script>
$(function() {
  $("h1").each(function() { $(this).nextUntil("h1").addBack().wrapAll("<div class=\"item\"></div>") })
  $('.looper').slick({
    autoplay: true,
    autoplaySpeed: 8000,
    fade: true,
    cssEase: 'linear'
  })
});
</script>
</body>
</html>