<html>
<head>
<script src="/js/jquery.js"></script>
<script src="/js/looper.js"></script>
<link rel="stylesheet" type="text/css" href="/css/keijiban.css">
<link rel="stylesheet" type="text/css" href="/css/looper.css">
</head>
<body>
<div class="looper xfade">
  <div class="looper-inner">
    <%= slides %>
  </div>
</div>
<script>
$("h1").each(function() { $(this).nextUntil("h1").addBack().wrapAll("<div class=\"item\"></div>") })
$('div.item').first().addClass("active");
$('.looper').looper({interval: 10000});
</script>
</body>
</html>